<div class="panel">
    <div class="panel-header"></div>
    <div class="panel-body">
        <form novalidate>
            <div class="form-group">
                <label>FullName</label>
                <input name="fullname" required type="text" class="form-control" ng-model="data.customer.FullName"  />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" required type="text" class="form-control" ng-model="data.customer.Email" />
            </div>        
            <a href="#/Home">Cancel</a>
            <button ng-click="CreateCustomer(data.customer)" class="btn btn-primary">Create</button>
        </form>
    </div>    
</div>